body{
    margin: 0;
}

.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color:#d5e1ef;
}
.box{
     
    height: 450px;
    width: 280px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    background-color: #ffffff;
}
.content{
    background-image: url(images/image-qr-code.png);
    margin:12px;
    height:250px;
    background-size: contain;
    border-radius: 13px;
    background-repeat: no-repeat;
    background-position: center;
    

}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom:80px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    padding-left:10px; 

}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom:20px;
    font-size: 13px;
    padding-left:25px ;
    color: grey;


}
@media (max-width:480px){
    .content{
   border-radius: 12px;
    }
    .box{
        height: 390px;
    }
    h3{
        bottom:60px;
        font-size:16px;
        padding-left:30px ;
    }
    p{
        bottom: 8px;
        font-size: 12px;
        padding-left: 32px;
    }
}